<h2>Pay</h2>

@*<h3>@ViewData["Message"]</h3>*@
<form action="/Home/Pay" method="post">
    <p>
        Pay: <input type="text" name="amount" value="9" /><select name="currency"><option>USD</option> </select>


    </p>
    <input type="submit" />
</form>