<h2>Pay</h2>

<p>@ViewData["Message"]</p>

<form action="/Home/Pay" method="post">
    <p>
        Pay: <input type="text" name="total" value="9" /><select name="currency"><option>USD</option> </select>


    </p>
    <input type="submit" />
</form>