<h2>Payments</h2>

@*<form action="/Home/Payments" method="post">
    <p>
        Pay: <input type="text" name="amount" value="9" /><select><option>USD</option> </select>


    </p>
    <input type="submit" />
</form>*@